<a name="hall-of-fame"><h1>Hall of Fame</h1></a>
<p>
  The OpenPGP interoperability test suite found the following bugs:
</p>
<h2>Sequoia</h2>
<ul>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/347">
      sq: Impossible to generate key with multiple userids
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/348">
      attempt to subtract with overflow if signature is larger than expected
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/350">
      Blowfish encryption is broken
  </a></li>
  <li><a href="https://gitlab.com/sequoia-pgp/sequoia/issues/372">
      Marker packet not ignored in certificate parser
  </a></li>
</ul>

<h2>GPGME</h2>
<ul>
  <li><a href="https://dev.gnupg.org/T4725">
      Dubious filename in literal data packet when encrypting with GPGME/GnuPGv1.4.23
  </a></li>
  <li>
    GPGME gets FDs confused in high concurrency settings, deadlocks on select
  </li>
</ul>

<h2>GnuPG</h2>
<ul>
  <li><a href="https://dev.gnupg.org/T4727">
      GnuPG creates keys that it cannot use, likely related to AEAD
  </a></li>
</ul>

<h2>RNP</h2>
<ul>
  <li><a href="https://github.com/rnpgp/rnp/issues/929">
      Generating a key with multiple userids silently ignores all but last userid
  </a></li>
</ul>

<h2>DKGPG</h2>
<ul>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57097">
      Lowercase hex digits are not recognized as such
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57098">
      Keyrings must be armored
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57099">
      dkg-encrypt adds spurious newline
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57108">
      Decryption fails if the size of the session key is not 256 bits
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57111">
      Generating a key with multiple userids silently ignores all but first userid
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57131">
      dkg-encrypt prefers OCB over the recipients preference for EAX
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57134">
      dkg-sign adds spurious newline to armored output
  </a></li>
  <li><a href="https://savannah.nongnu.org/bugs/index.php?57135">
      dkg-verify fails to verify signatures with leading zeros
  </a></li>
</ul>
